{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="video-container">
    {% if videos %}
    {% for video in videos %}
<div class="video-card">
  <a href="{% url 'play' video.id %}">
    <video class="video-player"  {% if video.thumbnail %}poster="{{video.thumbnail.url}}"{% endif %}>
      <source src="{{ video.video.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <h3 class="video-title">{{ video.title }}</h3>
    <div class="user">
      <div class="avatar-circle">
        {{ video.user.username|slice:":1"|upper }}
      </div>
      <p class="player-video-user">{{video.user.username}}</p>
    </div>
    <div class="details">
      <p>{{video.views}} Views | {{video.date|date:'d M y'}}</p>
    </div>
  </a>
</div>
{% endfor %}

{% else %}
        <h1>No videos Found</h1>
        {% endif %}
</div>

{% endblock %}